<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/ace.js"
      integrity="sha512-rORxfZIwIMvSXR5dFoETeCk4ZVxNnEyD/CrYvljW5Tb5vAwZrK5brLrfztCKfZ5rYz7bjjwwxRLxFkHKQ0ZtTQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    {% block extra_head %}{% endblock %}
  </head>
  <body class="flex flex-col min-h-screen bg-gray-200">
    <header>
      <nav
        class="block w-full h-20 bg-gray-300 shadow-xl py-4 px-8 shadow-md text-white"
      ></nav>
    </header>

    <main class="flex-grow">
      {% block content %}
      <!-- Default content goes here -->
      {% endblock %}
    </main>

    <footer class="bg-gray-300 text-white py-4 text-center">
      <h1 class="text-3xl font-bold">Site Footer</h1>
    </footer>
  </body>
</html>
